.title-cards{
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-cards h2{
    margin-bottom: 8px;
}

.card-list{
    display: flex;
    gap: 10px;
    overflow-y:Scroll
}
 .card-list::-webkit-scrollbar{
    display:none;
    display:none
 }
.card-list img{
    max-width: 240px;
    border-radius:4px;
    cursor: pointer;
}
.card-list .card{
    position: relative
}
.card-list .card p{
    position:absolute;
    bottom:10x;
    right:10px;
    text-decoration:none;
    color:#fff

}